/* =========================
   PHM HCC WEBSITE STYLE
   ========================= */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{
    background:#ffffff;
    color:#222;
}



/* =========================
   NAVBAR
   ========================= */


header{
    position:sticky;
    top:0;
    z-index:1000;
}


.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#003366;

    padding:15px 8%;

}


.logo{

    display:flex;
    align-items:center;
    gap:10px;

    color:white;

}


.logo img{

    width:55px;
    height:55px;
    border-radius:50%;

}


.logo h2{

    font-size:25px;

}



.nav-links{

    display:flex;
    list-style:none;
    gap:25px;

}



.nav-links a{

    text-decoration:none;
    color:white;
    font-weight:500;

    transition:.3s;

}


.nav-links a:hover{

    color:#FFD700;

}



.menu{

    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;

}






/* =========================
 HERO SECTION
 ========================= */


.hero{

    height:90vh;

    background:

    linear-gradient(
    rgba(0,0,0,.6),
    rgba(0,0,0,.6)
    ),

    url("../Images/church.jpg");

    background-size:cover;
    background-position:center;

    display:flex;

    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

}



.hero-content h1{

    font-size:45px;
    margin-bottom:15px;

}



.hero-content h2{

    color:#FFD700;
    font-size:35px;

}


.hero-content p{

    font-size:20px;
    margin:20px;

}



.btn{

    display:inline-block;

    background:#FFD700;

    color:#003366;

    padding:12px 30px;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}



.btn:hover{

    background:white;

}







/* =========================
WELCOME
========================= */


.welcome{

    padding:70px 10%;
    text-align:center;

}


.welcome h2{

    color:#003366;

    font-size:35px;

    margin-bottom:20px;

}


.welcome p{

    line-height:1.8;

    font-size:18px;

}






/* =========================
SERVICES
========================= */


.services{

    padding:60px 10%;

    background:#f5f5f5;

    text-align:center;

}



.services h2{

    color:#003366;

    font-size:35px;

}



.service-container{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;

    margin-top:40px;

}



.service-card{

    background:white;

    padding:35px;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.1);

    transition:.3s;

}



.service-card:hover{

    transform:translateY(-10px);

}



.service-card i{

    font-size:40px;

    color:#FFD700;

    margin-bottom:15px;

}



.service-card h3{

    color:#003366;

}







/* =========================
MISSION VISION
========================= */


.mission{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    padding:70px 10%;

}



.mission div{

    padding:35px;

    background:#003366;

    color:white;

    border-radius:15px;

}



.mission h2{

    color:#FFD700;

    margin-bottom:15px;

}








/* =========================
PASTOR
========================= */


.pastor{

    display:flex;

    align-items:center;

    gap:50px;

    padding:70px 10%;

}



.pastor img{

    width:300px;

    height:300px;

    object-fit:cover;

    border-radius:50%;

}



.pastor h2{

    color:#003366;

    margin-bottom:20px;

}




/* =========================
EVENTS
========================= */


.events{

    padding:70px 10%;

    background:#f5f5f5;

    text-align:center;

}



.events h2{

    color:#003366;

}



.event-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    margin-top:30px;

}



.event-card{

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.1);

}



.event-card h3{

    color:#003366;

}






/* =========================
BIBLE VERSE
========================= */


.verse{

    background:#003366;

    color:white;

    padding:60px;

    text-align:center;

}



.verse h2{

    color:#FFD700;

    margin-bottom:20px;

}



.verse p{

    font-size:22px;

    font-style:italic;

}

.announcement {
    padding: 50px 20px;
    background: #f8f9fa;
    text-align: center;
}

.announcement h2 {
    color: #1a237e;
    margin-bottom: 30px;
}

.marquee-container {
    overflow: hidden;
    width: 100%;
}

.marquee-content {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.news-card {
    width: 280px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.news-card h3 {
    color: #1565c0;
}

.news-card p {
    color: #555;
}


/* Moving animation */
@keyframes scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}


/* Pause when mouse is over */
.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}





/* =========================
FOOTER
========================= */


footer{

    background:#111;

    color:white;

    text-align:center;

    padding:40px;

}



footer h2{

    color:#FFD700;

}



.social{

    margin:20px;

}


.social a{

    color:white;

    font-size:25px;

    margin:10px;

}



.social a:hover{

    color:#FFD700;

}






/* =========================
RESPONSIVE DESIGN
========================= */


@media(max-width:900px){


.nav-links{

    position:absolute;

    top:80px;

    left:-100%;

    background:#003366;

    width:100%;

    flex-direction:column;

    text-align:center;

    padding:30px;

    transition:.4s;

}



.nav-links.active{

    left:0;

}



.menu{

    display:block;

}




.service-container,
.event-container{

    grid-template-columns:1fr;

}



.mission{

    grid-template-columns:1fr;

}



.pastor{

    flex-direction:column;

    text-align:center;

}



.hero-content h1{

    font-size:30px;

}


.hero-content h2{

    font-size:25px;

}

/* ==========================
   Scroll Animation
========================== */

section{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

section.show{
    opacity:1;
    transform:translateY(0);
}

/* ==========================
   Back To Top Button
========================== */

#topBtn{

    position:fixed;

    bottom:25px;

    right:25px;

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#FFD700;

    color:#003366;

    font-size:22px;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,.3);

    transition:.3s;

}

#topBtn:hover{

    background:#003366;

    color:white;

}

}